.DS_Store
images/bg-header-desktop.png
images/bg-header-mobile.png
images/favicon-32x32.png
images/icon-blacklist.svg
images/icon-facebook.svg
images/icon-instagram.svg
images/icon-preview.svg
images/icon-text.svg
images/icon-twitter.svg
images/image-computer.png
images/image-devices.png
images/logo-google.png
images/logo-hp.png
images/logo-ibm.png
images/logo-microsoft.png
images/logo-vector-graphics.png
images/logo.svg
design/active-states.jpg
design/desktop-design.jpg
design/desktop-preview.jpg
design/mobile-design.jpg
