* {
	padding: 0;
	margin: 0;

}
button {
	/**resetting button styles */
	font: inherit;
}

body {
	/*max-width: 1440px;*/
	font-family: 'Bai Jamjuree', sans-serif;
	margin: 0 auto;
	overflow-x: hidden;
}

h1, h2, h3 {
	color: hsl(210, 10%, 33%);
}

p {
	color: hsl(201, 11%, 66%);
}

button {
	width: 227px;
	height: 56px;
	border-radius: 28px;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0.5px;
	line-height: 1.667;
	color: hsl(0, 0%, 100%);
	cursor: pointer;
}

button.ios {
	background-color: hsl(171, 66%, 44%);
	box-shadow: 0px 10px 20px hsla(160, 63.9%, 71.8%, 0.5), inset 0px -3px hsla(0, 0%, 0%, 0.15), inset 0px 0px 0px 1px hsl(0, 0%, 59.2%);
	margin-right: 16px;
}

button.mac {
	background-color: hsl(233, 100%, 69%);
	box-shadow: 0px 10px 20px hsla(0, 0%, 0%, 0.1), inset 0px -3px hsla(0, 0%, 0%, 0.15);
}

.header-logo {
	background-image: url(images/bg-header-desktop.png);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	height: 363px;

}

.header-logo > img {
	padding-top: 131px;
}


.subheader {
	max-width: 730px;
	margin: -50px auto 0;
	text-align: center;

}
.subheader > h1 {
	font-size: 46px;
	font-weight: 600;
	letter-spacing: -0.75px;
	padding-bottom: 16px;

}
.subheader p.tagline {
	font-size: 20px;
	letter-spacing: 0.15px;
	line-height: 1.5;
	margin-bottom: 48px;
}


.subheader h2 {
	font-size: 36px;
	font-weight: 600;
	letter-spacing: -0.59px;
	padding: 150px 0 19px;
}

.subheader p.desc {
	font-size: 18px;
	letter-spacing: 0.14px;
	line-height: 1.667;
	padding-bottom: 80px;
}

.computer {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 572px;
	column-gap: 110px;
	position:relative;
	left: -70px;
	max-width:1212px;
	align-items: center;
}

.comp-img img {
	position: relative;
	top: 0;
	left: 0;
	/** Learned A New Property! */
	clip-path: inset(0 0 0 30px);
	width: 100%;

}

.inner-comp-flex {
	display: flex;
	flex-direction: column;
	height: 406px;
	position: relative;
	top: -30px;
	justify-content: space-between;

}

.flex-item {
	width: 350px;
	height: 98px;
}

.flex-item h3 {
	font-size: 24px;
	font-weight: 600;
	letter-spacing: -0.39px;
	padding-bottom: 8px;
}

.flex-item p {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.12px;
	line-height: 1.875;
}


.access {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 805px;
	margin-top: 140px;
	text-align: center;
}
.access-text h2 {
	font-size: 36px;
	font-weight: 600;
	letter-spacing: -0.59px;
	padding-bottom: 19px;
}

.access-text p {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.14px;
	line-height: 1.667;
	max-width: 730px;
}

.access-img {
	display: flex;
	justify-content: center;
}

.supercharge > h2 {
	font-size: 36px;
	font-weight: 600;
	letter-spacing: -0.59px;
	text-align: center;
	margin-top: 30px;
	padding-bottom: 19px;
}

.supercharge > p {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.14px;
	line-height: 1.667;
	text-align: center;
	padding-bottom: 76px;
}

.supercharge-flex {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	text-align: center;
	flex-wrap: wrap;
}

.super-item {
	width: 350px;
	height: 216px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-right: 30px;
	margin-bottom: 20px;
}

.super-item h3 {
	font-size: 24px;
	font-weight: 600;
	letter-spacing: -0.39px;
	position: relative;
	top: 13px;
}

.super-item p {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.12px;
	line-height: 1.875;
}

.super-item.box img {
	position: relative;
	top: 4px;
}

.super-item.box h3 {
	position: relative;
	top: 2px;
}

.super-item.box p {
	position: relative;
	top: -28px;
}

.brands-flex {
	display: flex;
	justify-content: center;
	margin: 140px auto;
	align-items: center;
	flex-wrap: wrap;
}

.brands-flex img {
	flex-shrink: 0;
	margin: 20px 42px;
}

.download {
	text-align: center;
	margin: 30px auto;
	max-width: 730px;
}

.download h2 {
	font-size: 36px;
	font-weight: 600;
	letter-spacing: -0.59px;
	padding-bottom: 19px;
}

.download p {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.14px;
	line-height: 1.667;
	padding-bottom: 48px;
}

.footer-wrap {
	background-color: hsla(201, 11.5%, 65.9%, 0.1);
	position: absolute;
	left: 0;
	right: 0;
	margin-top: 120px;
}

footer {
	display: grid;
	grid-template-columns: minmax(375px, 825px) 1fr;
	align-items: center;
	height: 150px;
	margin: 0 165px;
}

.inner-footer-flex {
	display: flex;
	justify-content: space-between;
	height: 72px;
}

.inner-footer-flex > img {
	width: 55px;
	height: 55px;
	padding-top: 5px;
}

.links-flex {
	max-width: 635px;
	display: inline-flex;
	flex-wrap: wrap;
	align-content: space-between;
	margin-left: 60px;
}

footer a {
	width: 160px;
	height: 30px;
	font-size: 18px;
	letter-spacing: 0.14px;
	line-height: 1.667;
	padding-right: 30px;
	text-decoration: none;
	color: hsl(210, 9.5%, 32.9%);
}

a:hover {
	color: hsl(171, 66.2%, 44.1%);
}

.socials {
	text-align: right;
	color: hsl(210, 9.5%, 32.9%);
	display: flex;
	width: 120px;
	justify-self: end;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

}
.socials > img {
	width: 24px;
	height: 24px;
}

.socials > img:hover {
	fill: hsl(171, 66.2%, 44.1%);
}

/* Attribute selector */
.socials [alt="twitter"] {
	width: 24px;
	height: 19.5px;
}

.my-footer {
	margin-top: 5px;
}

/* -----------
MEDIA QUERIES:
less than 950px
---------------*/

@media screen and (max-width: 950px) {
	.subheader {
		max-width: 85%;
	}
	.subheader > h1 {
		line-height: 1;
	}
	.subheader h2 {
		padding: 120px 0 19px;
	}
	.computer {
		grid-template-columns: 1fr;
		grid-auto-rows: auto;
		row-gap: 30px;
		column-gap: 0;
		position: static;
		justify-items: center;
	}
	.comp-img {
		width: 75%;
	}
	.comp-img img {
		clip-path: none;
		margin: 0 auto;
		position: static;
	}
	.inner-comp-flex {
		justify-content: space-around;
		text-align: center;
		position: static;
		padding-bottom: 60px;
	}
	.access {
		max-width: 90%;
		margin: 0 auto;
		height: auto;
	}
	.access-text {
		padding-bottom: 70px;
	}
	.access-img {
		width: 90%;
	}
	.supercharge {
		max-width: 90%;
		margin: 0 auto;
	}
	.supercharge > h2 {
		margin-top: 15px;
	}
	.supercharge > p {
		padding-bottom: 60px;
	}
	.brands-flex {
		margin: 100px auto;
	}
	.download {
		margin: 0 auto;
		max-width: 85%;
	}
	footer {
		margin: 0 100px;
		height: auto;

	}
	.inner-footer-flex {
		height: auto;
		align-items: center;
		padding: 10px 0;
	}
	.links-flex {
		margin-left: 125px;
	}
	.socials {
		width: 105px;
	}

}
/* -------------------
DEVICES MEDIA QUERIES (iphone)
-------------------- */
@media screen
    and (min-width: 320px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait)
{

    /** max-width: 500px is too small, and widths in styles are set to work for 312px.
    removed 'and (max-width: 500px)'
    *TODO: Fix styles to work for landscape */

	.header-logo {
		background-image: url(images/bg-header-mobile.png);
		background-repeat: no-repeat;
		background-size: cover;
	}
	.header-logo > img {
		padding-top: 123px;
		padding-bottom: 64px;
	}
	.subheader {
		max-width: 311px;
	}
	.subheader > h1 {
		font-size: 32px;
		letter-spacing: -0.52px;
		max-width: 311px;
		margin: 0 auto;
	}
	.subheader p.tagline {
		font-size: 16px;
		letter-spacing: 0.12px;
		line-height: 1.625;
	}
	button {
		width: 100%;

	}
	button.ios {
		margin-bottom: 24px;
		margin-right: 0;
	}
	.subheader h2 {
		font-size: 28px;
		letter-spacing: -0.46px;
	}
	.subheader p.desc {
		font-size: 16px;
		letter-spacing: 0.12px;
		line-height: 1.625;
		padding-bottom: 65px;
	}
	.computer {
		width: 312px;
		display: grid;
		grid-template-rows: auto auto;
		justify-items: center;
		margin: 0 auto;
		row-gap: 50px;
		padding-bottom: 100px;
	}
	.grid-img {
		width: 100%;
	}
	.inner-comp-flex {
		justify-content: space-between;
		max-height: none;
	}
	.flex-item {
		width: auto;
		height: auto;
	}
	.flex-item h3 {
		font-size: 24px;
		letter-spacing: -0.39px;
	}
	.flex-item p {
		font-size: 16px;
		letter-spacing: 0.12px;
	}
	.access {
		max-width: none;
		width: 312px;
		padding-bottom: 90px;
	}
	.access-text h2 {
		font-size: 28px;
		letter-spacing: -0.46px;
		padding-bottom: 16px;
	}
	.access-text p {
		font-size: 16px;
		letter-spacing: 0.12px;
	}
	.access-img {
		width: 105%;
	}
	.supercharge {
		max-width: 312px;
	}
	.supercharge h2 {
		font-size: 28px;
		letter-spacing: -0.46px;
	}
	.supercharge > p {
		font-size: 16px;
		letter-spacing: 0.12px;
		padding-bottom: 60px;
	}
	.supercharge-flex {
		flex-direction: column;
		justify-content: space-between;
	}
	.super-item {
		width: auto;
		margin: 0;
		justify-content: space-around;
	}
	.super-item.box {
		padding-top: 0;
	}
	.brands-flex {
		flex-direction: column;
		height: 439px;
	}
	.download {
		width: 312px;
	}
	.download h2 {
		font-size: 24px;
		letter-spacing: -0.46px;
	}
	.download p {
		font-size: 16px;
		letter-spacing: 0.12px;
	}
	footer {
		display: block;
		margin: 0 100px;
		height: auto;
	}
	.inner-footer-flex {
		height: auto;
		align-items: center;
		padding: 10px 0;
		flex-direction: column;
	}
	.inner-footer-flex > img {
		padding-bottom: 20px;
	}
	.links-flex {
		margin: 0;
		flex-direction: column;
	}
	footer a {
		width: auto;
		height: auto;
		padding: 0;
		font-size: 16px;
		letter-spacing: 0.12px;
		margin-bottom: 20px;
		text-align: center;
	}
	.order {
		order: 0;
	}
	.socials {
		padding-bottom: 20px;
		width: auto;
		justify-content: space-between;
	}
	.my-footer {
		padding-bottom: 10px;
	}
}


