* {
	padding: 0;
	margin: 0;
}

button {
	margin: 0;
	padding: 0;
	border: none;
	font: inherit;
	line-height: normal;
}

body {
	max-width: 1440px;
	/*width: 100%;*/
	font-family: 'Bai Jamjuree', sans-serif;
	font-size: 18px;
	margin: 0 auto;
	border: 3px solid aqua;
	overflow-x: hidden;
}

h1, h2, h3 {
	color: hsl(210, 10%, 33%);
}

p {
	color: hsl(201, 11%, 66%);
}

.header {
	height: 363px;
	background-image: url(images/bg-header-desktop.png);
	background-repeat: no-repeat;
	text-align: center;
}

.header > img {
	padding-top: 131px;
	padding-bottom: 52px;
}

.header > h1 {
	font-size: 46px;
	font-weight: 600;
	letter-spacing: -0.75px;

}

.subheader {
	padding-top: 20px;
	text-align: center;

}

.subheader p.tagline {
	font-size: 20px;
	letter-spacing: 0.15px;
	line-height: 1.5;
	padding-bottom: 48px;
}

button.ios {
	width: 227px;
	height: 56px;
	border-radius: 28px;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0.5px;
	color: hsl(0, 0%, 100%);
	background-color: hsl(171, 66%, 44%);
	margin-right: 16px;
}

button.mac {
	width: 227px;
	height: 56px;
	border-radius: 28px;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0.5px;
	color: hsl(0, 0%, 100%);
	background-color: hsl(233, 100%, 69%);
}

.subheader h2 {
	font-size: 36px;
	font-weight: 600;
	letter-spacing: -0.59px;
	padding-top: 150px;
}

.subheader p.desc {
	font-size: 18px;
	letter-spacing: 0.14px;
	line-height: 1.667;
	padding-top: 16px;
	padding-bottom: 80px;
}

.computer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 110px;
	justify-content: center;
	align-items: center;
	position:relative;
	width:1212px;
	max-width: 100%;
	/*height:572px;*/
	left: -30px;
}

.grid-img img {
	position: relative;
	top: 0;
	left: 0;
	/** Learned A New Property! */
	clip-path: inset(0 0 0 30px);
	width: 100%;

}

.flex-cont-one {
	width: 350px;
	height: 406px;
}

.item-one {
	width: 350px;
	height: 98px;
}

.item-one h3 {
	font-size: 24px;
	font-weight: 600;
	letter-spacing: -0.39px;
	padding-bottom: 8px;
}

.item-one p {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.12px;
	line-height: 1.875;
}

.item-one.pad {
	padding-bottom: 56px;
}

.access {
	display: flex;
	flex-direction: column;
}
.access h2 {
	text-align: center;
	margin-top: 150px;
	margin-bottom: 19px;
	font-size: 36px;
	font-weight: 600;
	letter-spacing: -0.59px;
}

.access p {
	text-align: center;
	margin-bottom: 110px;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.14px;
	line-height: 30px;
}


.access img {
	display: block;
	width: 812px;
	height: 475px;
	margin: auto;
	/*position: absolute;*/
	/*clip: rect(110px, 160px, 170px, 60px);*/
}






.brands-flex > img {
	display: inline-block;

}