* {
	padding: 0;
	margin: 0;

}
button {
	/**resetting button styles */
	border: none;
	font: inherit;
	line-height: normal;
}

body {
	max-width: 1440px;
	/*width: 100%;*/
	font-family: 'Bai Jamjuree', sans-serif;
	font-size: 18px;
	margin: 0 auto;
	border: 3px solid aqua;
	overflow-x: hidden;
}

h1, h2, h3 {
	color: hsl(210, 10%, 33%);
}

p {
	color: hsl(201, 11%, 66%);
}

button {
	width: 227px;
	height: 56px;
	border-radius: 28px;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0.5px;
	line-height: 1.667;
	color: hsl(0, 0%, 100%);
}

button.ios {
	background-color: hsl(171, 66%, 44%);
	box-shadow: 0px 10px 20px hsla(160, 63.9%, 71.8%, 0.5),
				inset 0px -3px hsla(0, 0%, 0%, 0.15),
				inset 0px 0px 0px 1px hsl(0, 0%, 59.2%);

	margin-right: 16px;
}

button.mac {
	background-color: hsl(233, 100%, 69%);
	box-shadow: 0px 10px 20px hsla(0, 0%, 0%, 0.1),
				inset 0px -3px hsla(0, 0%, 0%, 0.15);
}

.header {
	height: 363px;
	background-image: url(images/bg-header-desktop.png);
	background-repeat: no-repeat;
	text-align: center;
}

.header > img {
	padding-top: 131px;
	padding-bottom: 52px;
}

.header > h1 {
	font-size: 46px;
	font-weight: 600;
	letter-spacing: -0.75px;

}

.subheader {
	padding-top: 20px;
	text-align: center;

}

.subheader p.tagline {
	font-size: 20px;
	letter-spacing: 0.15px;
	line-height: 1.5;
	padding-bottom: 48px;

}


.subheader h2 {
	font-size: 36px;
	font-weight: 600;
	letter-spacing: -0.59px;
	padding-top: 150px;
}

.subheader p.desc {
	font-size: 18px;
	letter-spacing: 0.14px;
	line-height: 1.667;
	padding-top: 16px;
	padding-bottom: 80px;
}

.computer {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr;
	column-gap: 9.07%;
	position:relative;
	left: -32px;
	max-width:1212px;
	align-items: center;


}

.grid-img img {
	position: relative;
	top: 0;
	left: 0;
	/** Learned A New Property! */
	clip-path: inset(0 0 0 30px);
	width: 100%;

}

.wrapper {
	display: grid;
	height: 474px;
}

.inner-comp-flex {
	display: flex;
	flex-direction: column;
	max-height: 406px;
	position: relative;
	top: 18px;
	justify-content: space-between;

}

.flex-item {
	width: 350px;
	height: 98px;
}

.flex-item h3 {
	font-size: 24px;
	font-weight: 600;
	letter-spacing: -0.39px;
}

.flex-item p {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.12px;
	line-height: 1.875;
	padding-top: 8px;
}


.access {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 805px;
	margin-top: 140px;
	text-align: center;
}
.access-text h2 {
	font-size: 36px;
	font-weight: 600;
	letter-spacing: -0.59px;
	margin-bottom: 19px;
}

.access-text p {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.14px;
	line-height: 1.667;
	max-width: 730px;
}

.flex-img {
	display: flex;
	/*justify-content: center;
	width: 812px;
	height: 475px;*/
}

.supercharge > h2 {
	font-size: 36px;
	font-weight: 600;
	letter-spacing: -0.59px;
	text-align: center;
	margin-top: 30px;
}

.supercharge > p {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.14px;
	line-height: 1.667;
	text-align: center;
	margin-top: 19px;
	margin-bottom: 70px;
}

.supercharge-flex {
	display: flex;
	justify-content: space-between;
	max-width: 1110px;
	margin: 0 auto;
	text-align: center;
}

.super-item {
	width: 350px;
	height: 216px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.super-item h3 {
	font-size: 24px;
	font-weight: 600;
	letter-spacing: -0.39px;
	position: relative;
	top: 13px;
}

.super-item p {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.12px;
	line-height: 1.875;
}

.super-item.box img {
	position: relative;
	top: 4px;
}

.super-item.box h3 {
	position: relative;
	top: 2px;
}

.super-item.box p {
	position: relative;
	top: -28px;
}

.brands-flex {
	display: flex;
	justify-content: space-between;
	max-width: 1110px;
	margin: 150px auto;
	align-items: center;
	/* TODO - wrap property */
}

.brands-flex img {
	flex-shrink: 0;
}

.download {
	text-align: center;
}

.download h2 {
	font-size: 36px;
	font-weight: 600;
	letter-spacing: -0.59px;
}

.download p {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.14px;
	line-height: 1.667;
	margin-top: 19px;
	margin-bottom: 48px;
}

.footer-wrap {
	/*background-color: hsla(201, 11.5%, 65.9%, 0.1);*/
	background-color: lightcyan;
	position: absolute;
	left: 0;
	right: 0;
	margin-top: 150px;
}

footer {
	display: grid;
	grid-template-columns: minmax(500px, 825px) 1fr;
	align-items: center;
	height: 150px;
	margin: 0 165px;
}

.inner-footer-flex {
	display: flex;
	justify-content: space-between;

}

.inner-footer-flex > img {
	width: 55px;
	height: 55px;
	padding-top: 5px;

}

.links-flex {
	max-width: 635px;
	height: 72px;
	display: inline-flex;
	flex-wrap: wrap;
	align-content: space-between;
}

footer p.end {
	width: 255px;
	padding-right: 0;
}
footer p {
	width: 160px;
	height: 30px;
	font-size: 18px;
	letter-spacing: 0.14px;
	line-height: 1.667;
	padding-right: 30px;
}

.socials {
	text-align: right;
	color: hsl(210, 9.5%, 32.9%);
}
.socials > img {
	width: 24px;
	height: 24px;
	padding-left: 24px;
}

/* Attribute selector */
.socials [alt="twitter"] {
	width: 24px;
	height: 19.5px;
	padding: 2.25px 0 2.25px 24px;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 950px) {
	.computer {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
		row-gap: 10px;
		position: static;
		justify-items: center;
	}
	.grid-img {
		max-width: 75%;
	}
	.grid-img img {
		clip-path: none;
		margin: 0 auto;
		position: static;
	}
	.inner-comp-flex {
		justify-content: space-evenly;
		text-align: center;
	}
	.access {
		margin-top: -30px;
	}

}
